body{
    background-color: cadetblue;    
}

h1{
    color: white;
    text-align: center;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: whitesmoke;
}

table{
    width: 100%;
    border-spacing: 5px;
}

table, th, td {
    border: 1px solid white;
    border-radius: 8px;
    
}
th{
    background-color: chocolate;
    text-align: left;
    padding: 6px;
    color: white;
}
td{
    background-color: cornflowerblue;
    text-align: center;
    padding: 5px;
}
